@model GS.DATA.Entities.CustomPort.BaseGaragePort
@{
    ViewData["Title"] = "Index";
}
<hr class="offset-lg">
<hr class="offset-lg">
<hr class="offset-lg hidden-xs">
<section class="product">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-5 white no-padding">

                <div class="carousel-product" data-count="4" data-current="1">

                    <div class="items" style="height:370px">
                        <button class="btn btn-control" data-direction="right"> <i class="ion-ios-arrow-right"></i></button>
                        <button class="btn btn-control" data-direction="left"> <i class="ion-ios-arrow-left"></i></button>


                        <div class="item center" data-marker="1">
                            <img src="@Url.Content(Model.BaseImage)" alt="Microsoft Surface Studio" class="background" />
                        </div>

                        <div class="item" data-marker="2">
                            <img src="@Url.Content(Model.Image1)" alt="Microsoft Surface Studio" class="background" />
                        </div>

                        <div class="item" data-marker="3">
                            <img src="@Url.Content(Model.Image2)" alt="Microsoft Surface Studio" class="background" />
                        </div>

                    </div>


                    <ul class="markers">
                        <li data-marker="1" class="active"></li>
                        <li data-marker="2"></li>
                        <li data-marker="3"></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-7 col-md-7 no-padding-xs">
                <div class="caption">
                    <h1 class="text-themecolor">Customize Compact +</h1>
                    <div>@Html.Raw(Model.Description)</div>
                    Totalt inkl. moms.:
                    <div id="diivprice">
                        <h4 style="color:black">@Model.BasePrice</h4>
                    </div>
                    <hr class="offset-md hidden-sm">
                    <hr class="offset-sm visible-sm">
                    <hr class="offset-xs visible-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="errorwidth"></div>
                            <div id="errorheight"></div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Width(in mm)</label>
                            <input id="widthrole" placeholder="" class="form-control" value="1800" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Height(in mm)</label>
                            <input id="heightrole" placeholder="" class="form-control" value="1850" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Pattern</label>
                            @Html.DropDownList("patternrole", (SelectList)ViewBag.patternlist, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Color</label>
                            @Html.DropDownList("colorrole", (SelectList)ViewBag.colorlist, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Surface layer</label>
                            @Html.DropDownList("surfacelayerrole", (SelectList)ViewBag.surfacelayerlist, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Operation</label>
                            @Html.DropDownList("operationrole", (SelectList)ViewBag.operationstylelist, new { @class = "form-control" })
                        </div>

                    </div>
                    <hr class="offset-md hidden-sm">
                    <hr class="offset-sm visible-sm">
                    <hr class="offset-xs visible-sm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Quantity</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" class="form-control input-sm" placeholder="Qty" value="1">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-right">
                                <button class="btn btn-primary"> <i class="ion-bag"></i> Add to cart</button>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="text-center">
                                <hr>
                                <p class="text-themecolor">Beräknad leveranstid är 4-5 veckor.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="offset-sm hidden-xs">

        <div class="row">
            <div class="col-sm-12 white sm-padding">



                <div class="tabset">
                    <input type="radio" name="tabset" id="tab1" aria-controls="Produktbeskrivning" checked>
                    <label for="tab1">
                        Produktbeskrivning
                    </label>
                    <input type="radio" name="tabset" id="tab2" aria-controls="Specifikationer">
                    <label for="tab2">
                        Specifikationer
                    </label>
                    <input type="radio" name="tabset" id="tab3" aria-controls="Dokument">
                    <label for="tab3">
                        Dokument
                    </label>
                    <input type="radio" name="tabset" id="tab4" aria-controls="Instructions">
                    <label for="tab4">
                        Instructions
                    </label>

                    <div class="tab-panels">
                        <section id="Produktbeskrivning" class="tab-panel">
                            @Html.Raw(Model.Description)
                        </section>
                        <section id="Specifikationer" class="tab-panel">
                            @Html.Raw(Model.TechnicalSpecification)
                        </section>
                        <section id="Dokument" class="tab-panel">
                            <ul>
                                <li><a href="@Url.Content(Model.DocumentFile)">@Model.DocumentFile</a></li>
                                <li><a href="@Url.Content(Model.DocumentFile1)">@Model.DocumentFile1</a></li>
                            </ul>
                        </section>
                        <section id="Instructions" class="tab-panel">
                            @Html.Raw(Model.Instruction)
                        </section>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#searchbtn").click(function (e) {
                $("#mdlsearch").modal('show');
            });

        });
        function CalculatePrice() {
            var url = "/CustomGarageport/CalculatePrice";
            var width = $("#widthrole").val();
            var height = $("#heightrole").val();
            var pattern = $("#patternrole").val();
            var color = $("#colorrole").val();
            var surfacelayer = $("#surfacelayerrole").val();
            var operation = $("#operationrole").val();
            $.getJSON(url, { width: width, height: height, pattern: pattern, color: color, surfacelayer: surfacelayer, operation: operation }, function (data) {
                var item = "";
                $("#diivprice").empty();
                item = '<h4 style="color:black">' + data + '</h4>';

                $("#diivprice").html(item);
            });
        }

        $("#patternrole").change(function () {
            var patternrole = $("#patternrole").val();
            var url = "/CustomGarageport/GetSurfaceLayerRole";

            $.getJSON(url, { patternrole: patternrole }, function (data) {
                var item = "";
                $("#surfacelayerrole").empty();
                $.each(data, function (i, locks) {
                    item += '<option value="' + locks.value + '">' + locks.text + '</option>'
                });
                $("#surfacelayerrole").html(item);
            });
            CalculatePrice();
        });

        $("#colorrole").change(function () {
            CalculatePrice();
        });
        $("#surfacelayerrole").change(function () {
            CalculatePrice();
        });

        $("#oldDoorrole").change(function () {
            CalculatePrice();
        });
        $("#widthrole").change(function () {
            var value = $("#widthrole").val();
            if (value < 1800) {
                var item = "";
                $("#errorwidth").empty();
                item = '<p style="color:black">Width must be bigger than 1800</p>';

                $("#errorwidth").html(item);
            }
            else if (value > 4500) {
                var item = "";
                $("#errorwidth").empty();
                item = '<p style="color:black">Width must be smaller than 4500</p>';

                $("#errorwidth").html(item);
            }
            else {
                $("#errorwidth").empty();
                CalculatePrice();
            }
        });
        $("#heightrole").change(function () {
            var value = $("#heightrole").val();
            if (value < 1850) {
                var item = "";
                $("#errorheight").empty();
                item = '<p style="color:black">Width must be bigger than 1850</p>';

                $("#errorheight").html(item);
            }
            else if (value > 2500) {
                var item = "";
                $("#errorheight").empty();
                item = '<p style="color:black">Width must be smaller than 2500</p>';

                $("#errorheight").html(item);
            }
            else {
                $("#errorheight").empty();
                CalculatePrice();
            }
        });

        $("#operationrole").change(function () {
            var operationrole = $("#operationrole").val();

            CalculatePrice();
        });
    </script>
}
